# Welcome to Jupyter!

In [2]:
import numpy as np

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

In [5]:
lst1=[1,2,3,4,5]
lst2=[2,3,4,5,6]
lst3=[4,5,6,7,8]
arr=np.array([lst1,lst2,lst3])

In [6]:
arr

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [4, 5, 6, 7, 8]])

In [7]:
arr[1:,2:]

array([[4, 5, 6],
       [6, 7, 8]])

In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,4),index=['Row1','Row2','Row3','Row4','Row5',],columns=["Column1","Column2","Column3","Column4"])
df

       Column1   Column2   Column3   Column4
Row1  0.897240 -0.576040  0.964404 -0.991501
Row2  0.216399  0.845974 -0.361684 -0.663028
Row3 -1.143489 -0.848976 -1.313241  1.331822
Row4 -1.996451 -0.183395  0.835906 -0.010837
Row5  0.879207  1.977902  3.519877  1.490186

In [14]:
print(df.head(2))
print()
print(df.tail(2))
print()
print(df[['Column1','Column4']])

       Column1   Column2   Column3   Column4
Row1  0.897240 -0.576040  0.964404 -0.991501
Row2  0.216399  0.845974 -0.361684 -0.663028

       Column1   Column2   Column3   Column4
Row4 -1.996451 -0.183395  0.835906 -0.010837
Row5  0.879207  1.977902  3.519877  1.490186

       Column1   Column4
Row1  0.897240 -0.991501
Row2  0.216399 -0.663028
Row3 -1.143489  1.331822
Row4 -1.996451 -0.010837
Row5  0.879207  1.490186

In [15]:
print(df.loc['Row1'])
print()
print(type(df.loc['Row1']))
print()
print(df.iloc[2:4,1:3])

Column1    0.897240
Column2   -0.576040
Column3    0.964404
Column4   -0.991501
Name: Row1, dtype: float64

<class 'pandas.core.series.Series'>

       Column2   Column3
Row3 -0.848976 -1.313241
Row4 -0.183395  0.835906

In [16]:
df.iloc[:,1:].values

array([[-0.57603959,  0.96440427, -0.99150144],
       [ 0.84597431, -0.36168351, -0.66302816],
       [-0.84897551, -1.31324098,  1.33182206],
       [-0.18339452,  0.83590622, -0.01083728],
       [ 1.97790208,  3.51987665,  1.49018605]])

In [17]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      float64
 1   Column2  5 non-null      float64
 2   Column3  5 non-null      float64
 3   Column4  5 non-null      float64
dtypes: float64(4)
memory usage: 360.0+ bytes

In [20]:
df.corr()

          Column1   Column2   Column3   Column4
Column1  1.000000  0.503075  0.485248 -0.163788
Column2  0.503075  1.000000  0.729810  0.293015
Column3  0.485248  0.729810  1.000000  0.233650
Column4 -0.163788  0.293015  0.233650  1.000000

In [21]:
df.describe()

        Column1   Column2   Column3   Column4
count  5.000000  5.000000  5.000000  5.000000
mean  -0.229419  0.243093  0.729053  0.231328
std    1.289873  1.163885  1.817703  1.134641
min   -1.996451 -0.848976 -1.313241 -0.991501
25%   -1.143489 -0.576040 -0.361684 -0.663028
50%    0.216399 -0.183395  0.835906 -0.010837
75%    0.879207  0.845974  0.964404  1.331822
max    0.897240  1.977902  3.519877  1.490186